body{
    font-family: fangsong;
    font-style: inherit;
    background-color: orangered;
}
header {
    text-align: center; 
    color: blue;
    border-width: 10px;
}
#me{
    width: 388px;
    padding-left: 407px;
    padding-top: 10px;
}
p{
    padding-left: 10px;
}
div{
    display: inline-flex;
}
#spiritanimal{
    border-style: none;
    display: inline-flexbox;
}
p{
    color: white;
}
ul{
    color: white;
}
nav{
    display:flow-root;
}